<div class="profile-container">
  <!-- Mostrar perfil si existe -->
  @if (user$ | async; as user) {
  <div class="profile-content">
    <div class="profile-header">
      <img [src]="user.avatar" [alt]="user.displayName" class="avatar">
      <h2>Bienvenido, {{ user.displayName }}</h2>
    </div>
    <div class="profile-info">
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Rol:</strong> {{ user.role }}</p>
      <p><strong>Estado:</strong> {{ user.isActive ? 'Activo' : 'Inactivo' }}</p>
      <p><strong>ID:</strong> {{ user._id }}</p>
    </div>
  </div>
  }@else{
  <div class="loading-state">
    <p>Cargando perfil del usuario...</p>
  </div>
  }

</div>