name: CI Ecommerce APP

on:
    push:
        branches: [main,develop]
    pull_request:
        branches: [main,develop]
    
jobs:
    test-frontend:
        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: ./02.Project/ecommerce-app

        steps:
            - name: Descargar repositorio
              uses: actions/setup-node@v4

            - name: Configurar Node.js 20
              uses: actions/setup-node@v4
              with:
                node-version: 20
                cache: 'npm'
                cache-dependency-path: './02.Project/ecommerce-app/package-lock.json'

            - name: Instalar dependencias Angular
              run: npm ci
              
            - name: Ejecutar pruebas unitarias
              run: npm run test -- --include="src/app/core/guards/auth/auth.guard.spect.ts" --browsers=ChromeHeadless --code-coverage --watch=false

            - name: Compilar proyecto
              run: npm run build

            - name: Subir reporter de cobertura
              if: always()
              uses: actions/upload-artifact@v4
              with: 
                name: frontend-coverage-report
                path: ./02.Project/ecommerce-app/coverage
                retention-days: 10

    test-backend:
        runs-on: ubuntu-latest

        defaults: 
            run:
                working-directory: ./02.Project/ecommerce-api

        steps:
            - name: Descargar repositorio
              uses: actions/checkout@v4

            - name: Configurar Node.js 20
              uses: actions/setup-node@v4
              with:
                node-version: 20
                cache: 'npm'
                cache-dependency-path: './02.Project/ecommerce-api/package-lock.json'

            - name: Instalar dependencias backend
              run: npm ci
              
            - name: Ejecutar pruebas unitarias backend
              run: npm test

            - name: Generar reporte
              run: npm run test:coverage
              continue-on-error: true

            - name: Subir reporter del backend
              if: always()
              uses: actions/upload-artifact@v4
              with: 
                name: backend-coverage-report
                path: ./02.Project/ecommerce-api/coverage
                retention-days: 10